<h2>Sign Up!</h2>

<%= render partial: 'layouts/errors', locals: {object: @user} %>

<div>
  <%= form_for(@user) do |f| %>
    <p>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit "Sign Up" %>
    </p>
  <% end %>
</div>

<p>Already a member? <%= link_to "Sign In", root_path %>.</a>