<h2>Sign Up!</h2>

<div>
  <%= form_for(@user) do |f| %>
    <p>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit "Login" %>
    </p>
  <% end %>
</div>

<p>Already a member? <%= link_to "Sign in", root_path %>.</a>