<% if @user == current_user %>
  <h2>Welcome, <%= @user.username.capitalize %>!</h2>
<% else %>
  <h2>Run History: <%= @user.username.capitalize %> </h2>
<% end %>

<h3>Runs</h3>
  <% @user.runs.each do |r| %>
    <div>
      Charity: <%= link_to r.charity.name, charity_path(r.charity.id) %><br>
      Distance (miles): <%= r.distance %><br>
      Duration (mins): <%= r.duration %><br>
      Shoes: <%= r.shoes %><br>
      Location: <%= r.location %><br>
      Notes: <%= r.notes %> <br>
      Amount Raised: $<%= r.distance * 4 %> <br>

      <% if @user == current_user %>
        <%= link_to 'Edit', edit_run_path(r.id) %> | <%= link_to "Delete", run_path(r), method: :delete, data: { confirm: 'Are you sure you want to delete this run?'} %><br>
      <% end %>
      <br>
    </div>
  <% end %>

<h3>Total Raised</h3>
  
  <p>$<%= @user.runs.inject(0) { |sum, r| sum + r.distance * 4 } %></p>

<h3>Top Charities</h3>
  <% @user.charities.top_three.uniq.each do |c| %>
    Name: <%= c.name %><br>
    Total Distance (miles): <%= c.runs.where("user_id = ?", @user.id).inject(0) { |sum, r| sum + r.distance } %><br>
    Total Raised: $<%= c.runs.where("user_id = ?", @user.id).inject(0) { |sum, r| sum + r.distance * 3 } %><br><br>
  <% end %>

