<h2><%= @charity.name %></h2>
<p><%= @charity.description %></p>

<h3>Total Raised</h3>
  <p>$<%= @charity.runs.inject(0) {|sum, r| sum + r.distance * 4}%></p>

<h3>Top Runner</h3>

  <%= User.total_charity_runs.where('charity_id = ?', @charity.id).order('count(*)').pluck('username').first %>
  
  </p>

  <p><b>What's a <em>top runner</em>?</b></p>
  <p>Top runners have ran the most miles/raised the most $ for a charity. Is this your favourite charity? Beat our top runner, and <%= link_to "add a run for the #{@charity.name}", new_charity_run_path(@charity) %>!</p>

<h3>Runs</h3>
  <% @charity.runs.each do |r| %> 
    Distance: <%= r.distance %> miles - Raised: $<%= r.distance * 4 %> - Runner: <%= link_to r.user.username, user_path(r.user) %><br><br>
  <% end %>

<%= link_to "View All #{@charity.name} Runs", charity_runs_path(@charity) %> | <%= link_to "Add a run for this charity", new_charity_run_path(@charity) %>
