<h2>Edit a Run</h2>

<div>
  <%= form_for @run do |f| %>
    <%= render partial: 'layouts/run_form', locals: {f: f} %>

    <p>
      <%= f.label :charity %>:
        <%= f.collection_select(:charity_id, Charity.all, :id, :name, :include_blank => "Select a charity", :selected => @run.charity_id) %>
    </p>
    
    <p>
      <%= f.submit %>
    </p>

  <% end %>
</div>