<h2>Runs</h2>

<% @runs.each do |r| %>
  <div>
    Runner: <%= r.user.username %><br>
    Charity: <%= link_to r.charity.name, charity_path(r.charity.id) %><br>
    Distance (miles): <%= r.distance %><br>
    Duration (mins): <%= r.duration %><br>
    Shoes: <%= r.shoes %><br>
    Location: <%= r.location %><br>
    Notes: <%= r.notes %><br><br>
  </div>
<% end %>
