<div class="container-fluid">
  <div class="container">
    <h2>Another run, another donation.</h2>
      <div>
      Charity: <%= link_to @run.charity.name, charity_path(@run.charity.id) %><br>
      Distance (miles): <%= @run.distance %><br>
      Duration (mins): <%= @run.duration %><br>
      Location: <%= @run.location %><br>

      <%= user_delete_run %>
    
    </div>
  </div>
</div>
