<div class="container-fluid">
  <div class="container">
    <h2>Another run, another donation.</h2>
      <div>
      Charity: <%= link_to @run.charity.name, charity_path(@run.charity.id) %><br>
      Distance (miles): <%= @run.distance %><br>
      Duration (mins): <%= @run.duration %><br>
      Location: <%= @run.location %><br>

      <% if @run.user_id == current_user.id %>
        <%= link_to 'Edit', edit_run_path %> | <%= link_to "Delete", run_path(@run), method: :delete, data: { confirm: 'Are you sure you want to delete this run?'} %><br><br>
      <% end %>
    </div>
  </div>
</div>
