<!DOCTYPE html>
<html>
  <head>
    <title>Boost - Run to Raise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="navbar">
    <% if logged_in? %>
      <%= link_to "Add a Run", new_run_path %>
      <%= link_to "Charities", charities_path %>
      <%= link_to current_user.username.capitalize, user_path(current_user.id) %>
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
