<!DOCTYPE html>
<html>
  <head>
    <title>Boost - Run to Raise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="navbar">
    <%= link_to "All Runs", runs_path %>
    <%= link_to "All Charities", charities_path %>
    <%= link_to "Add a Run", new_run_path %>
    <%= link_to "Add a Charity", new_charity_path %>
    <%= link_to "Log Out", logout_path, method: :delete %>
  </div>


  <body>
    <%= yield %>
  </body>
</html>
